.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.nav {
    background: rgba(252,90,44,.89);
    color: #fff;
    padding: 5px;
}

.button {
    display: inline-block;
}

.home-container {
    background: rgba(252,90,44,.89);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    flex-direction: column;
}